@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900);

body{
	background-color:#616A6B;
}

h1{
	font-family: "source code pro";
	font-weight:200;
	color:#2ECC71;
	font-size: 70px;
	text-transform: uppercase;
	border-bottom: 3px solid;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

#main{
	background-color:#34495E;
	position:relative;
	margin-left:15%;
	margin-right:15%;
	margin-bottom:0%;
	height:100vh;
	padding:20px;
	display:flex;
	flex-direction: column;
	align-items: center;
}

.thumb{
	height:200px;
	padding:20px;
}

#lightbox{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.7); 
}

#positionBigImage{
	position:fixed;
	top:5%;
	left:0px;
	width:100%;
}

#boundryBigImage{
	position:relative;
	margin:auto;
	margin:auto;
	width:517px;
z-index:1;
}	


#x {
	position:absolute;
	top:0px;
	right:0px;
	width:30px;
	height:30px;
z-index:2;
}

.hidden{
	display:none;
}

.unhidden{
	display:block;
}